@use "./navbar";
@use "./home";
@use "./bootstrap";

$primary: rgb(36, 240, 9);
$secondary:  black;
$tertiary: rgb(161, 161, 161);
$success:    rgb(63, 63, 63);
$info:       rgb(54, 0, 104);


@import "../node_modules/bootstrap/scss/bootstrap.scss";